.contact-header{

    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../../images/bg-5.jpg) fixed no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    flex-direction: column;

}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 100px 0;
}
.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    margin-left: 10px;
}

.contact form input, .contact form textarea, .contact form button{
    padding: 5px;
    margin: 10px;
}

.contact-info{
    margin-right: 10px;
    padding: 10px;
}