nav{
    background-color: #534186;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    color: #fff;
}

.nav-logo{
    align-self: center;
    padding: 10px;
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 3px 3px #000;

}

.nav-links{
    list-style-type: none;
    display: flex;
    max-width: fit-content;
    flex-wrap: wrap;
    
}

.nav-links li{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}
.nav-links a{
    text-decoration: none;
    color: #fff;
}

.nav-item a.dropdown-item{
    color: #000;
}

