.list-header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}

.list-header h3{
    flex-basis: 20%;
}

.all-parcels{
    /* background: linear-gradient(rgba(0, 0, 0, 0.562), rgb(0, 0, 0.2)); */
    background: url('https://cafejavas.co.ug/root-assets/images/background.jpg') no-repeat ;
    background-size: cover;
    color: #000;
    
}

.all-parcels hr{
    border-top: 1px solid #ddd;
}

.all-parcels li{
    display: flex;
    justify-content: center;
    flex-basis: 20%;
}

.all-parcels li p, .all-parcels li a{
    flex-basis: 20%;

}

.all-parcels li a{
    color: #534186;
}